@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link{
  margin-left:7.5rem !important;
}

.p-menubar{
  background-color: aliceblue !important;
}

#Botoes{
  margin-left: 68rem !important;
  color: white !important;
  margin-top: -60px;
}


.cardForm{
  margin-top: 45px;
  margin-left: 12rem;
  float: right;
  border: none;
}

.cardAndamentoForm{
  width: 45rem;
  margin-left:25rem;
  margin-top:3rem;
}

.BotoesForm{
  justify-content: center !important;
  margin-top: 10px;
  margin-left: 293px;
}

.BotoesList{
  justify-content: center !important;
  margin-top: -59px;
  margin-left: 69rem;
}

.BotoesReq{
  justify-content: center !important;
  margin-top: -51px;
  margin-left: 69rem;
}

.BotoesColaborador{
  justify-content: center !important;
  margin-top: -56px;
  margin-left: 68rem;
}

.BotoesColabForm{
  justify-content: center !important;
  margin-top: -58px;
  margin-left: 59rem;
}

.BotoesSoli{
  justify-content: center !important;
  margin-top: -52px;
  margin-left: 69rem;
}

.BotoesSoliForm{
  justify-content: center !important;
  margin-top: -58px;
  margin-left: 59rem;
}

.BotoesAndamentoForm{
  justify-content: center !important;
  margin-top: 0px;
  margin-left: 58.8rem;
}

.BotoesAndamento{
  justify-content: center !important;
  margin-top: -64px;
  margin-left: 69rem;
}

.BotoesAtividade{
  justify-content: center !important;
  margin-top: -61px;
  margin-left: 69rem;
}

.BotoesAtividadeForm{
  justify-content: center !important;
  margin-top: 24px;
  margin-left: 58.8rem;
  margin-bottom: 24px;
}

.BotoesFormAtividade{
  justify-content: center !important;
  margin-top: 13px;
  margin-left: 35.3rem;
}

.cardReqForm{
  width: 45rem;
  margin-left:25rem;
  margin-top:3rem;
}

.cardSoliForm{
  width: 45rem;
  margin-left:25rem;
  margin-top:3rem;
}

.cardAtividadeForm{
  width: 45rem;
  margin-left:25rem;
  margin-top:6rem;
}

.cardColabForm{
  width: 45rem;
  margin-left:25rem;
  margin-top:3rem;
}

.cardAtividadeForm{
  width: 45rem;
  margin-left:25rem;
  margin-top:0rem;
}

.p-button{
  margin-left:5px !important;
}

h4{
  margin-right: 63rem;
  padding-top: 30px;
  font-family: 'Fredoka One', cursive;
  font-size: xx-large;
}

.Colaborador{
  padding-top: 8px;
  font-family: 'Fredoka One', cursive;
  font-size: xx-large;
}

.Solicitante{
  padding-top: 8px;
  font-family: 'Fredoka One', cursive;
  font-size: xx-large;
}

.Atividades{
  padding-top: 8px;
  font-family: 'Fredoka One', cursive;
  font-size: xx-large;
}

.headerColab{
  padding-top: 8px;
  margin-bottom: 25px;
  font-family: 'Fredoka One', cursive;
  font-size: xx-large;
}

.headerAndamento{
  padding-top: 8px;
  margin-bottom: 12px;
  font-family: 'Fredoka One', cursive;
  font-size: xx-large;
}

.headerRequisicao{
  margin-top: -15px;
}

.headerSoliForm{
  padding-top: 8px;
  margin-bottom: 25px;
  font-family: 'Fredoka One', cursive;
  font-size: xx-large;
}

.headerAndamento{
  padding-top: 8px;
  margin-bottom: 25px;
  font-family: 'Fredoka One', cursive;
  font-size: xx-large;
}

.headerAtividade{
  padding-top: 8px;
  margin-bottom: 25px;
  font-family: 'Fredoka One', cursive;
  font-size: xx-large;
}

.headerAtividades{
  padding-top: 8px;
  margin-bottom: 25px;
  font-family: 'Fredoka One', cursive;
  font-size: xx-large;
}

.cadastrar{
  padding-top: 1px;
  margin-bottom: 23px;
  font-family: 'Fredoka One', cursive;
  font-size: xx-large;
}

.inserir{
  margin-right: 31rem;
  padding-top: 40px;
  font-family: 'Fredoka One', cursive;
  font-size: xx-large;
}


/* TABELA STRIPES */

.p-selectable-row:nth-child(even){
  background-color: #f8f9fa !important;
}

.p-selectable-row:nth-child(odd){
  background-color: aliceblue !important;
}

.p-datatable .p-column-header-content{
  display: block !important;
}

/* LOGIN */

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #e5e5f7;
  opacity: 0.8;
  background: radial-gradient(circle, transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent) 12.5px 12.5px, linear-gradient(#444cf7 1px, transparent 1px) 0 -0.5px, linear-gradient(90deg, #444cf7 1px, #e5e5f7 1px) -0.5px 0;
  background-size: 25px 25px, 25px 25px, 12.5px 12.5px, 12.5px 12.5px;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-left: 8rem;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

#entrar{
  margin-left: 17.5rem !important;
}

